#kaocha/v1
{:tests          [{:id                    :unit-cljs
                   :type                  :kaocha.type/cljs
                   :test-paths            ["test"]
                   ;; :cljs/repl-env         cljs.repl.browser/repl-env
                   :cljs/repl-env         cljs.repl.node/repl-env
                   :cljs/compiler-options #include #join [#env PWD "/dev.cljs.edn"]
                   :cljs/precompile? true}
                  {:id   :unit-clj
                   :type :kaocha.type/clojure.test}]
 :cloverage/opts {:codecov? true}}
